@import "tailwindcss";

@font-face {
  font-family: "Berlin Sans FB";

  src: url("../src/assets/fonts/berlinsansfb_reg.ttf");

  font-weight: 400;

  /* font-style: normal; */
}
.font-berlin {
  font-family: "Berlin Sans FB", sans-serif;
}

@font-face {
  font-family: "Gilroy-Medium";

  src: url("../src/assets/fonts/gilroy-medium.ttf");

  font-weight: 200;

  /* font-style: normal; */
}
.font-Gilroy {
  font-family: "Gilroy-Medium", sans-serif;
}
@font-face {
  font-family: "Gilroy-Regular";

  src: url("../src/assets/fonts/Gilroy-Regular.ttf");

  /* font-weight: 200; */
}
.font-Gilroy-Regular {
  font-family: "Gilroy-Regular";
}

@font-face {
  font-family: "Gilroy-SemiBold";

  src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");

  /* font-weight: 200; */

  /* font-style: normal; */
}
.font-Gilroy-SemiBold {
  font-family: "Gilroy-SemiBold";
}

@font-face {
  font-family: "Gilroy-SemiBold-Italic";

  src: url("../src/assets/fonts/Gilroy-SemiBoldItalic.ttf");

  /* font-weight: 200; */

  /* font-style: normal; */
}
.font-Gilroy-SemiBold-Italic {
  font-family: "Gilroy-SemiBold-Italic";
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../src/assets/fonts/Gilroy-Bold.ttf");
}
.font-Gilroy-Bold {
  font-family: "Gilroy-Bold";
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("../src/assets/fonts/Gilroy-RegularItalic.ttf");
}
.font-Gilroy-RegularItalic {
  font-family: "Gilroy-RegularItalic";
}

/* Right to Left Animation */
@keyframes scroll-right-to-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Left to Right Animation */
@keyframes scroll-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Common styles for both */
.scroll-gallery {
  display: inline-flex;
  white-space: nowrap;
}

/* Add these two classes to control direction */
.scroll-rtl {
  animation: scroll-right-to-left 30s linear infinite;
}

.scroll-ltr {
  animation: scroll-left-to-right 30s linear infinite;
}




/* Test */
:root {
  --color-primary: #1e40af;       /* Example: blue-800 */
  --color-secondary: #9333ea;     /* Example: purple-600 */
  --color-accent: #f59e0b;        /* amber-500 */
  --color-bg: #f8fafc;            /* slate-50 */
  --color-text: #0f172a;          /* slate-900 */
  --color-muted: #64748b;         /* slate-500 */
}
